<h1>About @Meetings</h1>
<p>This is a prototype system build by the Summer 2012 EE448/EE548 Class for
  IEEE.  It is intended to be a tool to assist volunteers who host meetings
  announced in vTools.Meetings.  The tool intends to reduce labor while also
  providing member engagement support.
</p>
<p>
  This also serves as a right of passage into understanding the repository and making
  sure that one is
    <ol>
      <li>Has an SSH Key registered correctly</li>
      <li>Has their name and e-mail properly set up and consistent with Assembla</li>
      <li>Has things set up for spaces (not tabs) with tab stops every two</li>
      <li>Has their system set up to not introduce CRLF into files</li>
    </ol>
</p>
<h2>The Summer 2012 EE448/548 Class Members</h2>
<!-- Add your names to the list below in alphabetical order -->
<!-- Please only change the about branch -->
<ul>
  <li>Prof. Green, Instructor</li>
  <li>Allen Humphrey</li>
  <li>Anthony Portella</li>
  <li>Aman Khatri</li>
  <li>Douglas Franks</li>
  <li>George Keel</li>
  <li>John Godwin</li>
  <li>Mohammad Awad</li>
  <li>Spencer Whitney</li>

</ul>

<h2>Team 1 info</h2>
<p>This is a space for Team 1 to add their about info</p>

<h2>Team 2 info</h2>
<p>
<ul>
  <li>Douglas Franks</li>
  <li>Mohammad Awad</li>
  <li>Robin Moore</li>
  </ul>
</p>

  <h2>Team 3 info</h2>
<p>
<ul>
  <li>Allen Humphrey</li>
  <li>John Godwin</li>
  <li>Spencer Whitney</li>
</ul>
</p>


